body {
}

/* --- MEDIA QUERIES --- */

@media only screen 
and (min-device-width : 360px) 
and (max-device-width : 640px) {

.ui-tabs-vertical .ui-tabs-nav li { clear: left; width: 50%; border-right-width: 0 !important; }
.ui-tabs-vertical .ui-tabs-nav li a { display:block; font-size:70%; }

}

/*ipad portrait*/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
.boxCategory{
    border: 1px #267df2 groove;
    background-color: lightblue;
    margin: 1px auto;
    height:5%;
    font-weight: bold;
    font-size: 100%;
    text-align: center;
    padding: 5%;
    }
.boxOther{
    display: inline-block;
    border: 1px #267df2 groove;
    background-color: lightblue;
    text-align:center;
    margin: 1px auto;
    width:30%;
    height:20%;
    font-weight: bold;
    font-size: 100%;
    padding: 5%;
    }
.boxer{
    display: inline-block;
    border: 1px #267df2 groove;
    background-color: lightblue;
    text-align:center;
    margin: 1px auto;
    width:38%;
    font-weight: bold;
    font-size: 100%;
    padding: 5%;
}

.boxLitres{
    display: inline-block;
    border: 1px #267df2 groove;
    background-color: lightblue;
    text-align:center;
    margin: 1px auto;
    width:35%;
    font-weight: bold;
    font-size: 150%;
    padding: 10%;
}

}

/*ipad lanscape*/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
    .boxCategory{
        border: 1px #267df2 groove;
        background-color: lightblue;
        margin: 1px auto;
        height:5%;
        font-weight: bold;
        font-size: 100%;
        text-align: center;
        padding: 5%;
    }
    .boxOther{
        display: inline-block;
        border: 1px #267df2 groove;
        background-color: lightblue;
        text-align:center;
        margin: 1px auto;
        width:20%;
        
        font-weight: bold;
        font-size: 100%;
        padding: 10%;
    }
    .boxer{
        display: inline-block;
        border: 1px #267df2 groove;
        background-color: lightblue;
        text-align:center;
        margin: 1px auto;
        width:38%;
        font-weight: bold;
        font-size: 100%;
        padding: 5%;
    }
    .boxLitres{
        display: inline-block;
        border: 1px #267df2 groove;
        background-color: lightblue;
        text-align:center;
        margin: 1px auto;
        width:35%;
        
        font-weight: bold;
        font-size: 150%;
        padding: 10%;
    }
}

/*Default css*/
.ui-header {
    background: #A4D5F5 !important;
}
.ui-content {
    background :url('../img/daiad-home-transparent.png') ;
    width: 100%;
    height:100%;
    position : fixed;
}
/*input.ui-slider-input {display: none;}*/
.homeTab {width: 100%;height:100%;}

#row_one {width:100%;height:50%;border:1px solid #ddd;}
#row_two {width:100%;height:50%;}

#resultDiv {height:90%;overflow-y: auto;overflow-x: hidden;}
#deviceList {width:100%;height:50%;border: 1px #267df2 groove;background-color: lightblue;text-align:center;font-weight: bold;font-size: 100%;}

#currentData{width:60%;height:100%;float:left;}
#apCon{width:40%;height:100%;float:right;}
#lastData{width:50%;height:100%;float:right;}

#comp{width:100%;height:50%;}
#dateSelection{width:40%;height:50%;float:left;}
#averageBoxes{width:50%;float:right;}

.sharing { width:50%;height:50%;border: 1px #267df2 groove;background-color: lightblue;}

thead, tbody { display: block; }
#news {
    float:left
    color: black;
    background: -webkit-linear-gradient(top, #fdfdfd, #eee);
    width: 100%;
    height:90%;
    border: 1px #267df2 groove;
}
#news tr td {
    color: #666;
    font-size: 160% helvetica;
    padding: 0;
    width:100%;
    background-image: -webkit-linear-gradient(top, #fdfdfd, #eee);
}
#news tr td:last-child {border-right: none;}
#news tr:last-child td {border-bottom: none;}
#spinner,#spinner1{
    display:none;position:fixed;z-index:500;top:0;left:0;height:100%;width:100%;
    background: rgba( 255, 255, 255, .8 )url('../img/ajax-loader.gif') 50% 50%
    no-repeat;
}
.preferences {width: 100%;}
.demo-container {width: 100%;}
.demo-placeholder {width: 100%;height:80%;}

.ui-tabs-vertical { width: 100%; }
.ui-tabs-vertical .ui-tabs-nav {  position:fixed;float: left; width:20%; }
.ui-tabs-vertical .ui-tabs-nav li { clear: left; width: 100%; border-right-width: 0 !important; }
.ui-tabs-vertical .ui-tabs-nav li a { display:block; }
.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active { padding-bottom: 0; padding-right: .1em; border-right-width: 1px; border-right-width: 1px; }
.ui-tabs-vertical .ui-tabs-panel { position:fixed;left:25%; width:75%;height:80%;}



