<?xml version='1.0' encoding='utf-8'?>
<widget id="com.example.daiad" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Daiad</name>
    <description>
        A sample Apache Cordova application that responds to the deviceready event.
    </description>
        <preference name="orientation" value="default" />
        <feature name="BLE">
            <param name="ios-package" value="BLECentralPlugin" onload="true"/>
        </feature>
        Daiad Application.
    </description>
        <preference name="orientation" value="default" />
    <feature name="BLE">
        <param name="ios-package" value="BLECentralPlugin" onload="true"/>
    </feature>
    <feature name="NetworkStatus">
        <param name="ios-package" value="CDVConnection" />
    </feature>
    <feature name="SocialSharing">
        <param name="ios-package" value="SocialSharing"/>
        <param name="onload" value="true" />
    </feature>
        <author email="dev@cordova.apache.org" href="http://cordova.io">
        Apache Cordova Team
    <author email="" href="">
        IMIS
    </author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="SplashScreenDelay" value="10000" />

</widget>
