/* --- MEDIA QUERIES --- */

/*Nexus 5 smartphone*/
@media only screen and (min-device-width : 360px) and (max-device-width : 640px) {
#tabsmenu {
	display:none;
}
.boxCategory{
    border: 1px #267df2 groove;
    background-color: #A4D5F5;
    margin: 1px auto;
    font-weight: bold;
    font-size: 100%;
    text-align: center;
}
.boxOther{
        display: inline-block;
        float:right;
        border: 1px #267df2 groove;
        background-color:  #A4D5F5;
        text-align:center;
        margin: 1px auto;
        width:36%;
        font-weight: bold;
        font-size: 100%;
        padding: 1%;
    }
.boxlitres{
        float:left;
        border: 1px #267df2 groove;
        background-color:  #A4D5F5;
        text-align:center;
        margin: 1px auto;
        width:30%;
        font-weight: bold;
        font-size: 100%;
        padding: 15%;
    }
.boxEnergy{
        float:right;
        border: 1px #267df2 groove;
        background-color: #A4D5F5;
        text-align:center;
        margin: 1px auto;
        width:30%;
        font-weight: bold;
        font-size: 100%;
        padding: 4%;
    }
    .boxD{
        float:right;
        border: 1px #267df2 groove;
        background-color:  #fff;
        text-align:center;
        margin: 1px auto;
        width:100%;
        font-weight: bold;
        font-size: 50%;
    }
    .boxAvg{
        border: 1px #267df2 groove;
        background-color: #69A4FF;
        text-align:center;
        margin: 1px auto;
        width:50%;
        font-weight: bold;
        font-size: 150%;
        padding: 20%;
    }

.ui-tabs-vertical { width: 100%; }
.ui-tabs-vertical .ui-tabs-nav {  position:fixed; left:0; top:5%; width:100%;height:95%; background:#FFF; }
.ui-tabs-vertical .ui-tabs-nav li { clear: left; width: 100%; border-right-width: 0 !important; }
.ui-tabs-vertical .ui-tabs-nav li a { display:block; font-size:120%; text-align:center;background: #FFF; height:5%;}
.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active { padding-bottom: 0; padding-right: .1em; border-right-width: 1px; border-right-width: 1px; }
.ui-tabs-vertical .ui-tabs-panel { position:fixed;left:5%; width:90%;height:80%;}

}


/*ipad lanscape*/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
    .ui-tabs-vertical { width: 100%; }
    .ui-tabs-vertical .ui-tabs-nav {  position:fixed;float: left; left:-1%; top:3%; width:20%; height:95%;background-color: #FFF;}
    .ui-tabs-vertical .ui-tabs-nav li { clear: left; width: 100%; border-right-width: 0 !important; }
.ui-tabs-vertical .ui-tabs-nav li a { display:block; background: #FFF; font-size:100%; height:5%; }
.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active { padding-bottom: 0; padding-right: .1em; border-right-width: 1px; border-right-width: 1px;}
.ui-tabs-vertical .ui-tabs-panel { position:fixed;left:22%; width:75%;height:80%;}

	#menupanel {
    	display:none;
	}
    .boxCategory{
        border: 1px #267df2 groove;
        margin: 1px auto;
        font-weight: bold;
        font-size: 100%;
        text-align: center;
        background-color: #69A4FF;
    }
    .boxOther{
        display: inline-block;
        float:right;
        border: 1px #267df2 groove;
        text-align:center;
        margin: 1px auto;
        width:36%;
        font-weight: bold;
        font-size: 150%;
        padding: 1%;
        background: -moz-radial-gradient(100% 100%, #69A4FF, #fff);
        background: -webkit-radial-gradient(100% 100%, #69A4FF, #fff);
        background: -o-radial-gradient(100% 100%, #69A4FF, #fff);
        background: -ms-radial-gradient(100% 100%, #69A4FF, #fff);
        background: radial-gradient(100% 100%, #69A4FF, #fff);
        color: #fff;

    }
    .boxlitres{
        float:left;
        border: 1px #267df2 groove;
        /*background-color: #69A4FF;*/
        text-align:center;
        margin: 1px auto;
        width:40%;
        font-weight: bold;
        font-size: 200%;
        padding: 10%;
        background: -moz-radial-gradient(100% 100%, #69A4FF, #fff);
        background: -webkit-radial-gradient(100% 100%, #69A4FF, #fff);
        background: -o-radial-gradient(100% 100%, #69A4FF, #fff);
        background: -ms-radial-gradient(100% 100%, #69A4FF, #fff);
        background: radial-gradient(100% 100%, #69A4FF, #fff);
        color: #fff;
        
    }
    .boxEnergy{
        float:right;
        border: 1px #267df2 groove;
        text-align:center;
        margin: 1px auto;
        width:30%;
        font-weight: bold;
        font-size: 150%;
        padding: 4%;
        background: -moz-radial-gradient(100% 100%, #69A4FF, #fff);
        background: -webkit-radial-gradient(100% 100%, #69A4FF, #fff);
        background: -o-radial-gradient(100% 100%, #69A4FF, #fff);
        background: -ms-radial-gradient(100% 100%, #69A4FF, #fff);
        background: radial-gradient(100% 100%, #69A4FF, #fff);
        color: #fff;
    }
    .boxD{
        
        float:left;
        border: 1px #267df2 groove;
        text-align:center;
        margin: 1px auto;
        width:100%;
        font-weight: bold;
        font-size: 100%;
        background-color: #fff;
    }

    .boxAvg{
        
        border: 1px #267df2 groove;
        background-color: #69A4FF;
        text-align:center;
        margin: 1px auto;
        width:50%;
        font-weight: bold;
        font-size: 150%;
        padding: 20%;
    }
    

}

/*Default css*/
.ui-header {
    background:  #fff !important;
}
.ui-content {
    width: 100%;
    height:100%;
    position : fixed;
}
/*input.ui-slider-input {display: none;}*/
.homeTab {width: 100%;height:100%;}

#row_one {width:100%;height:100%;}
#row_two {width:100%;height:50%;}

#resultDiv {height:85%;overflow-y: auto;overflow-x: hidden;}

#currentData{width:100%;height:45%;}
#lastData{width:100%;height:40%}
#apCon{width:100%;height:15%;}


#comp{width:100%;height:100%;}
#dateSelection{width:50%;height:40%;}
#averageBoxes{width:100%;height:60%;}

.sharing { width:50%;height:50%;border: 1px #267df2 groove;}

thead,tbody { display: block; }
#news {
    float:left
    color: black;
    /*background: -webkit-linear-gradient(top, #fdfdfd, #eee);*/
    background:#fff;
    width: 100%;
    height:40%;
    border: 1px #267df2 groove;
}
#news tr td {
    color: #666;
    font-size: 160% helvetica;
    padding: 0;
    background-image: -webkit-linear-gradient(top, #fdfdfd, #eee);
}

#spinner,#spinner1,#spinner2{
    display:none;position:fixed;z-index:500;top:0;left:0;height:100%;width:100%;
    background: rgba( 255, 255, 255, .8 )url('../img/ajax-loader.gif') 50% 50%
    no-repeat;
}
.preferences {width: 100%;}
.demo-container {width: 100%;}
.demo-placeholder {width: 100%;height:80%;}


#notification {
    position:fixed;
    top:5%;
    width:96%;
    padding:2%;
    z-index:105;
    text-align:center;
    font-size:120%;
    background-color: #4ea5cd; border-color: #3b8eb5;
}


